[MASTER]
# A comma-separated list of package or module names from where C extensions may be loaded.
extension-pkg-whitelist=

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=no-method-argument

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, json and msvs (visual studio).
output-format=text

[LOGGING]
# Logging modules to check that the string format arguments are in logging function parameter format
logging-modules=logging

[TYPECHECK]
# List of decorators that produce context managers, such as contextlib.contextmanager. Add to this list to register other decorators that produce valid context managers.
contextmanager-decorators=contextlib.contextmanager